@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

.app {
  min-height: 100vh;
}

.background-dotted {
  background-size: 5px 5px;
  background-image: radial-gradient(
    hsla(var(--bc) / 0.2) 0.5px,
    hsla(var(--b2) / 1) 0.5px
  );
}
